<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <script type="text/javascript" src="js/jquery/jquery-3.3.1.js" charset="utf-8"></script>
    <script type="text/javascript" src="js/index.js" charset="utf-8"></script>
</head>
<body>
<div th:replace="~{fragments/header :: header}">...</div>


<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>

<div>
    <form method="POST" enctype="multipart/form-data" action="/upload">
        <table>
            <tr>
                <td>上传文件:</td>
                <td><input type="file" name="file"/></td>
                <td><input type="submit" value="上传"/></td>
            </tr>
        </table>

    </form>
</div>

<div>
    <table border="1">
        <thead>
        <tr>
            <td>ID</td>
            <td>文件名</td>
            <td>文件类型</td>
            <td>文件大小</td>
            <td>上传时间</td>
            <td>md5</td>
            <td colspan="3">操作</td>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${files.size()} eq 0">
            <td colspan="3">没有文件信息！！</td>
        </tr>
        <tr th:each="file : ${files}">
            <td th:text="${file.id}"></td>
            <td th:text="${file.name}"></td>
            <td th:text="${file.contentType}"></td>
            <td th:text="${file.size}"></td>
            <td th:text="${file.uploadDate}"></td>
            <td th:text="${file.md5}"></td>
            <td>
                <a th:href="'view/'+${file.id}">查看</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a th:href="'download/'+${file.id}">下载</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a th:href="'javascript:deleteFile(\''+${file.id}+'\');'">删除</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="~{fragments/footer :: footer}">...</div>
</body>
</html>
